@import "tailwindcss";
@plugin "daisyui";

/* font family roboto and poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p, li, a{
    font-family: 'Roboto', sans-serif;
}

li,a{
 font-size: 16px;
}